<div id="title">
    <h3>My Store</h3>
</div>
<div id="options-container">
    <div>
        <a routerLink="/">Home</a>
    </div>
    <div>
        <a routerLink="/products/add-product">Add Products</a>
    </div>
    <div>
        <a routerLink="../../cart/list">My Cart</a>
    </div>
    <div>
        <a routerLink="/orders/list">Manage Orders</a>
    </div>
    <div>
        <a routerLink="/user/register">Register</a>
    </div>
    <div>
        <button (click)="logout()">Logout</button>
    </div>
    <!-- <div>
         <select name="categoryFilter" id="categoryFilter">
            <option selected value="category">Category</option>
            <option value="Laptop">Laptop</option>
            <option value="Appliances">Appliances</option>
            <option value="Mobile">Mobile</option>
         </select>
    </div>
    <div>
         <select name="ratingFilter" id="ratingFilter">
            <option selected value="rating">Rating</option>
            <option value="high">High</option>
            <option value="low">Low</option>
         </select>
    </div>
    <div>
         <select name="sort" id="sort">
            <option selected value="sort">Sort By</option>
            <option value="priceLowToHigh">Price - low to high</option>
            <option value="priceHighToLow">Price - high to low</option>
            <option value="ratingHighToLow">Rating - high to low</option>
         </select>
    </div> -->
</div>