<!-- <div class="container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required>
        </div>
        <h5 class="error" id="emailError"></h5>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required>
        </div>
        <div id="button-div">
            <button type="submit" (click)="login()">Login</button>
        </div>
    </form>
</div>
 -->
