
<div id="items-grid">
    <!-- @for(product of productsToDisplay; track product.id){
        <div class="item">
                <div>
                    <div id="image-div">
                        <img id="image" src="{{product.url}}" alt="Cannot Load image">
                    </div>
                </div>
                <div>
                    <div class="property">
                        <h5 id="productName">Name :</h5>
                        <p>{{product.name}}</p>
                    </div>
                    <div class="property">
                        <h5 id="productCategory">Category :</h5>
                        <p>{{product.category}}</p>
                    </div>
                    <div class="property">
                        <h5 id="productPrice">Price :</h5>
                        <p>{{product.price}}</p>
                    </div>
                    <div class="property">
                        <h5 id="ProductRating">Rating :</h5>
                        <p>{{product.rating}}</p>
                    </div>
                    <ng-container *ngIf="buttonTitle === 'Remove from Cart'">
                        <div class="property">
                            <h5 id="ProductQuantity">Quantity :</h5>
                            <div id="quantity-button-div">
                                <button (click)="changeQuantity(product.id,'decrement')">-</button>
                                <p>{{product.quantity}}</p>
                                <button (click)="changeQuantity(product.id,'increment')">+</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div>
                    <button (click)="addToCart(product.id)" id="addToCartButton">{{buttonTitle}}</button>
                </div>
        </div>
    } -->


    <p-dataview #dv [value]="buttonTitle === 'Remove from Cart' ? productsArray : productsToDisplay" [layout]="'grid'">
        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-16">
                <div *ngFor="let product of items" class="col-span-18 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
                    <div
                        class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col"
                    >
                        <div class="bg-surface-50 flex justify-center rounded p-4">
                            <div class="relative mx-auto">
                                <img
                                    class="rounded w-full"
                                    [src]="product.url"
                                    [alt]="product.name"
                                    style="max-width: 300px; max-height: 130px"
                                />
                                <!-- <p-tag
                                    [value]="product.quantity"
                                    [severity]="'warn'"
                                    class="absolute"
                                    styleClass="dark:!bg-surface-900"
                                    [style.left.px]="4"
                                    [style.top.px]="4"
                                /> -->
                            </div>
                        </div>
                        <div class="pt-6">
                            <div class="flex flex-row justify-between products-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                        product.category
                                    }}</span>
                                    <div class="text-lg font-medium mt-1">{{ product.name }}</div>
                                </div>
                                <div class="bg-surface-100 p-1" style="border-radius: 30px; height:100%">
                                    <div
                                        class="bg-surface-0 flex products-center gap-2 justify-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                    >
                                        <span class="text-surface-900 font-medium text-sm">{{ product.rating }}</span>
                                        <i class="pi pi-star-fill text-yellow-500"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <div id="quantity-div" *ngIf="buttonTitle === 'Remove from Cart'">
                                    <p-button id="p-button-override" icon="pi pi-minus" variant="outlined" severity="warn" (click)="changeQuantity(product.id,'decrement')"></p-button>
                                    <p id="quantity">{{product.quantity}}</p>
                                    <p-button id="p-button-override" icon="pi pi-plus" variant="outlined" severity="warn" (click)="changeQuantity(product.id,'increment')"></p-button>
                                </div>
                                <span class="text-2xl font-semibold">{{ product.price | currency: 'INR' }}</span>
                                <div class="flex gap-2">
                                    <button
                                        pButton
                                        icon="{{buttonTitle === 'Remove from Cart' ? '' : 'pi pi-shopping-cart'}}"
                                        severity="contrast"
                                        label="{{buttonTitle}}"
                                        (click)="addToCart(product.id)"
                                        [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                        class="flex-auto whitespace-nowrap"
                                    ></button>
                                    <!-- <button pButton severity="contrast" icon="pi pi-heart" outlined></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>
<app-login-popup-dialogue></app-login-popup-dialogue>


