<p-toast />

<app-drawer [isDrawerVisible]="isDrawerVisible"></app-drawer>

<div id="base-container">
    <app-header [productNamesList]="productNamesList" (displayDrawerEmitter)="displayDrawer($event)"></app-header>
</div>

<ng-container *ngIf="productsArray.length != 0; else loadingComponent">
    <app-shared-list [productsArray]="productsArray" [buttonTitle]="'Add to Cart'" (buttonClickedEvent)="addToCart($event)"></app-shared-list>
</ng-container>


<ng-template #loadingComponent>
    <div style="margin-top: 15%;display: flex; justify-content: center; align-items: center;">
        <p-progress-spinner strokeWidth="2" fill="transparent" animationDuration=".4s" [style]="{ width: '100px', height: '100px' }" />
    </div>
</ng-template>