<p-toast />
<div id="base-container">
    <app-header></app-header>
</div>
<div id="p-message-div" *ngIf="userCart.length === 0; else sharedListTemplate">
    <div id="p-message-inner-div">
        <div id="p-message-container">
            <p-message id="empty-cart-message" severity="info"  styleClass="h-full">Your cart is Empty</p-message>
        </div>
    </div>
</div>
<ng-template #sharedListTemplate>
    <app-shared-list #sharedList [productsArray]="userCart" [buttonTitle]="'Remove from Cart'" (buttonClickedEvent)="removeFromCart($event)" (quantityChangeEvent)="changeQuantity($event)"></app-shared-list>
</ng-template>

<ng-container *ngIf="userCart.length !== 0">
    <div class="confirmOrderDiv">
        <div>
            <span>Total Amount = </span><strong>{{totalBill | currency : 'INR'}}</strong>
            <div style="margin-bottom: 3rem; margin-top: 1rem;">
                <p-button id="button" label="Confirm Order" variant="outlined" severity="warn" (click)="confirmOrder()"></p-button> 
            </div>
        </div>
    </div>
</ng-container>