#form-div{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#button-div{
    display: flex;
    justify-content: center;
}
div > input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:host >>> .p-button{
    width: 150px;
    margin-top: 1rem;
    /* padding: 10px; */
    /* background-color: rgba(255, 68, 0, 0.795);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; */
}
form button:hover {
    background-color: rgba(255, 68, 0, 0.945);
}

.p-inputtext{
    width: 100%;
}
.hideView{
    display: none;
}
.error{
    display: block;
    color: red;
}
.inputInvalid{
    border: 2px solid red;
}
.validInput{
    border: 1px solid #ccc;
}